@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
}

<div class="page-container">
    <h2>@ViewData["Title"]</h2>
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Input.OldPassword"></label>
            <input asp-for="Input.OldPassword"
                   class="form-control"
                   type="password" />
            <span asp-validation-for="Input.OldPassword" class="small text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.NewPassword"></label>
            <input asp-for="Input.NewPassword"
                   class="form-control"
                   type="password" />
            <span asp-validation-for="Input.NewPassword" class="small text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.ConfirmPassword"></label>
            <input asp-for="Input.ConfirmPassword"
                   class="form-control"
                   type="password" />
            <span asp-validation-for="Input.ConfirmPassword" class="small text-danger"></span>
        </div>
        <button type="submit" class="btn btn-success">Change password</button>
        <a asp-area="" asp-controller="Home" asp-action="Index" class="back-btn">Go Back</a>
    </form>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/change-password.css" />
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
