@{
    ViewData["Title"] = "Action panel";
}

<div class="hcm-login-center">
    <div class="employee-info-card">
        <h1>Action Panel</h1>
        <div class="hcm-login-form">
        </div>
        <div class="employee-info-actions">
            <a asp-controller="Employee" asp-action="All" class="employee-info-btn-yellow">
                Manage Employees
            </a>
            @if (User.IsInRole(HRAdminRoleName))
            {
                <a asp-controller="Department" asp-action="All" class="employee-info-btn-yellow">
                    Manage Departments
                </a>
                <a asp-area="Identity" asp-page="/Account/Manage/ChangePassword" class="employee-info-btn-change">
                    Change password
                </a>
            }
            @if (User.IsInRole(ManagerRoleName))
            {
                <a asp-controller="Employee" asp-action="Profile" class="employee-info-btn-change">
                    View Profile
                </a>
            }
            <form method="post" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/">
                <button type="submit" class="employee-info-btn-logout">Log Out</button>
            </form>
        </div>
    </div>
</div>

